/*
!/.idea/
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!build.gradle
!.travis.yml
!/textures/
!/gradle.properties
!.gitattributes
!ASSETS_LICENSE
!LICENSE

.DS_Store
src/generated/resources/\.cache/